.root{

  /* 홈페이지 상단 부분 */
    --hs-display : flex;
    /* homepage-sang 부분 area(margin , padding)  */
    --hs-area : 10px;


  /* 홈페이지 중단 부분 */
   --hm-radius : 80%;
   --hm-area : 10px;

}

#homepage_sang
{

    display: var(--hs-display);
    align-items: center;    
    justify-content: space-around;    
    
}

#homepage_sang > .title {
   padding-left : 500px;

   font-size: 30px;
}






#homepage_sang .mainmenu
{
    list-style-type: none;
    display: none ;

}

#homepage_sang > .mainmenu > li a 
{
  text-decoration: var(--hs-none);
  color: black;
}

#homepage_sang > .mainmenu > li a:hover
{
  box-shadow: 1px 1px 1px 1px gray;
  padding: var(--hs-area)- 3px;
  border-radius:  var(--hs-area) + 2px;
  background-color: black;
  color: white;
}


/* 홈페이지 중단   */


#homepage_view
{


    display: flex;

    justify-content: space-around;
    align-items: center;

    flex-direction: column;

    

}


/* 대표 이미지 */
#homepage_view > .hero_image
{
  width: 350px;
  height: 350px;

  border-radius: 80%;
  
  box-shadow: 2px 2px 2px 2px gray;
  
}

#homeapge_view > .hero_info
{
  border:2px solid black;
  background-color: transparent;
 
}


/* 모달 
  
  99 ~ 124
  
*/



/* 모달 창 버튼에 마우스를 가져다 됬을때 */
#info_btn {
  color: white;
  border-color: black;
  background-color: black;
  margin :10px;
  border-radius: 10%;
  box-shadow: 1px 1px 1px 1px gray;
}

#info_btn:hover{
  background-color: white;
  color: black;
  font-weight: bold;
}



/*  대표 이미지 간단 소개 모달창 css  */

.modal_pade 
{
  background-color: gainsboro;
  border-radius: var(--hm-area);
  margin-top:20px;
  box-shadow: 1px 1px 4px 1px gray;
}

.service_container
{
   
  display: flex;
}

#homepage_service > .service_item
{
    box-shadow: 1px 1px 1px 1px gray;

    /* 홈페이지 전체 가로의  절반 만큼을 가로로 부여  */
    width:859px;

   
    align-items: center;
    margin:10px;
}

.item_hero
{
  width: 100px;
  height: 80px;
  padding :10px;
}


/* img_right */

 .img_right
{
  margin-left : 40px;
  font-size: 12px;
}


.img_right > button {
  margin-left:300px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.img_right  > button a {
   text-decoration: none;
   color: black;
   font-weight: bolder;
   cursor: pointer;
  }

.img_right > button a:hover {
  text-decoration: underline;
   
}


/* 홈페이지 하단 */

#homepage_foot  > .foot_head
{
   display: flex;
   align-items: center;

   justify-content: space-between;
}




/*

https://www.thewordcracker.com/miscellaneous/pc-%ED%83%9C%EB%B8%94%EB%A6%BF-%EB%AA%A8%EB%B0%94%EC%9D%BC%EC%9A%A9-css-%EB%AF%B8%EB%94%94%EC%96%B4-%EC%BF%BC%EB%A6%ACmedia-query/

*/



/* 모바일 미디어 쿼리 */
@media (min-width: 320px) and (max-width: 480px) {


  #homepage_sang > .title {
      padding-left: 120px;
      font-size: 15px;
  }


  /* 홈페이지 메뉴 그다음  */

  #homepage_view > .hero_image {

    width: 100px;
    height: 100px;
  }


  /*  홈페이지 메인 서비스  */
  #homepage_service  {
      display: grid;
    
      justify-content:center ;
  }

  #homepage_service > .service_item {
    width: 55px;
    height: 55px;
    
  }


 #homepage_service > .service_item a > .item_hero {
      width: 40px;
      height:40px;
 }

 

  #homepage_service > .service_item > .img_right  {
       display: none;
  }


  /*  홈페이지 하단 */

  #homepage_foot > .foot_head  {
    flex-direction: column;
    font-size: 8px;
  }



}